<div class="power-page">
  <div class="header">
    <img src="/assets/logo-solarfields-white.svg" alt="Logo Solarfields">
  </div>
  <div class="power-container">
    <div class="total-power">{{totals.power.value | number:'3.2-2' | slice:0:3 | number}}<span>.{{totals.power.value | number:'3.2-2' | slice:4:6 | number:'2.0-0' }}</span> {{totals.power.unit}}</div>
    <div class="power-per-location">
      <ul>
        <li>
          <div class="location-name">Locatie</div>
          <div class="location-data-container">
            <div class="location-power">Nu</div>
            <div class="location-day-production">Vandaag</div>
            <div class="location-total-production">Totaal</div>
            <div class="location-co2-reduction tooltip">CO2<span class="tooltiptext">0,5901 kg/kWh (zie <a href="https://www.cbs.nl/nl-nl/maatwerk/2018/04/rendementen-en-co2-emissie-elektriciteitsproductie-2017" target="_blank">link</a>) </span></div>
          </div>
        </li>
        <li *ngFor="let pl of per_location | async">
          <div class="location-name">{{pl.name || pl.id}}</div>
          <div class="location-data-container">
            <div class="location-power"><div class="mobile-title">Nu</div> {{pl.power.value | number:'1.2-2'}} {{pl.power.unit}}</div>
            <div class="location-day-production"><div class="mobile-title">Vandaag</div> {{pl.energy_day.value || 0 | number:'1.2-2'}} {{pl.energy_day.unit}}</div>
            <div class="location-total-production"><div class="mobile-title">Totaal</div> {{pl.energy_total.value || 0 | number:'1.2-2'}} {{pl.energy_total.unit}}</div>
            <div class="location-total-co2reduction"><div class="mobile-title">CO2</div> {{pl.co2_total.value || 0 | number:'1.2-2'}} {{pl.co2_total.unit}}</div>
          </div>

        </li>
        <li>

          <div class="location-name">Totaal</div>
          <div class="location-data-container">
            <div class="location-power"><div class="mobile-title">Nu</div> {{totals.power.value | number:'1.2-2'}} {{totals.power.unit}}</div>
            <div class="location-day-production"><div class="mobile-title">Vandaag</div> {{totals.energy_day.value || 0 | number:'1.2-2'}} {{totals.energy_day.unit}}</div>
            <div class="location-total-production"><div class="mobile-title">Totaal</div> {{totals.energy_total.value || 0 | number:'1.2-2'}} {{totals.energy_total.unit}}</div>
            <div class="location-total-co2reduction"><div class="mobile-title">CO2</div> {{totals.co2_total.value || 0 | number:'1.2-2'}} {{totals.co2_total.unit}}</div>
          </div>

        </li>
      </ul>
    </div>
  </div>
</div>
