.power-page {
  display: flex;

  width: 100vw;
  height: 100vh;
  overflow: auto;

  background-image: url("/assets/background-lg.jpg"), url("/assets/background-sm.jpg");
  background-size: cover;
  background-position: center;
}

.power-container {
  position: relative;
  padding-top: 80px;
  margin: 5vw auto 0 auto ;

  width: 90%;
  /*min-width: 450px;*/

  height: 50%;
  min-height: fit-content;

  text-align: center;

  /*background-color: rgba(240, 248, 255, 0.46);*/
  /*border-radius: 5px;*/
  /*box-shadow: rgba(240, 248, 255, 0.46) 0 0 40px 20px;*/
}

.total-power {
  font-size: 130px;
  font-weight: 800;
  color: #fff;
  text-shadow: rgba(0, 0, 255, 0.4) 5px 4px 10px;

  animation: glow 1.5s ease-in-out infinite alternate
}

@-webkit-keyframes glow {
  from {
    text-shadow: rgba(0, 0, 255, 0.4) 5px 4px 10px;
  }
  to {
    text-shadow: rgba(0, 0, 255, 0.8) 5px 4px 50px;;
  }
}

.total-power span {
  font-size: 60%;
}

.power-per-location ul {
  /*min-width: 250px;*/
  list-style-type: none;
  font-weight: 400;
  font-family: 'Viga', sans-serif;
  padding: 0;
  font-size: 20px;
}
.power-per-location li {
  /*width: fit-content;*/
  height: 30px;
  margin: 0 auto;
  color: white;
}
.power-per-location li:first-child {
  /*height: 60px;*/
  border-bottom: white 2px solid;
  margin-bottom: 10px;
}
.power-per-location li:last-child {
  margin-top: 5px;
}
.power-per-location li:last-child>div {
  margin-top: 5px;
}
.power-per-location li:last-child .location-data-container>div {
  border-top: white 2px solid;
  padding-top: 5px;
}
.power-per-location li>div{
  white-space: nowrap;
}
.power-per-location li>div>div {
  display: inline-block;
  width: 125px;
}
.location-name {
  float: left;
  width: 180px;
  overflow: hidden;
  text-align: left;
}
/*.location-data-container {*/
/*  float: right;*/
/*}*/

.mobile-title {
  display: none;
}

@media screen and (min-width: 1200px) {
  .location-name {
    width: 300px;
  }
  .total-power {
    font-size: 200px;
  }
  .power-per-location ul {
    font-size: 30px;
  }
  .power-per-location li {
    max-width: 2000px;
    height: 50px;
  }
  .power-per-location li>div>div {
    width: 200px;
  }
}


@media screen and (max-width: 700px) {
  .power-container {
    margin-top: 10px;
  }
  .total-power {
    font-size: 75px;
  }
  .power-per-location ul {
    font-size: 18px;
  }
  .power-per-location li {
    width: 100%;
    height: 110px;
  }
  .power-per-location li:first-child {
    height: 30px;
  }

  .mobile-title {
    display: inline-block;
    width: 90px;
    text-align: left;
  }

  .power-per-location li:last-child .location-data-container>div {
    border-top: none;
    padding-top: 0;
  }
  .power-per-location li:first-child .location-data-container {
    display: none;
  }
  .location-data-container {
    float: right;
  }
  .power-per-location li>div>div {
    display: block;
    width: 80%;
  }
}



.header {
  position: absolute;
  top: 10px;
  width: 100%;
}
.header img {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 600px;
  max-width: 80%;
}
